/* 
    Document   : css
    Created on : Dec 3, 2009, 9:47:39 AM
    Author     : miro
    Description:
        Purpose of the stylesheet follows.
*/
h1{
    text-align:left;
    margin-left:50px;
}
#content{
    width:810px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid gray;
}
#topDoc{
    overflow:auto;
}
#suplier{
    margin-left:7px;
    padding:5px;
    border:1px solid black;
    width:380px;
    float:left;
}
#customer{
    margin-right:7px;
    padding:5px;
    border:1px solid black;
    width:380px;
    float:right;
}
#docLines{
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
.date{
    float:left;
    margin-left:30px;
}
.docNo{
    float:right;
    margin-right:30px;
}
#tableDoc{
    width:800px;
}
#bottomDoc{
    margin:5px;
    padding:5px;
}
#tot1{
    width:150px;
    margin-left:130px;
}
#tot2{
    width:220px;
    position:relative;
    top:-36px;
    left:330px;
}
#tot3{
    width:150px;
    position:relative;
    top:-72px;
    left:600px;
}
.total{
    margin:5px;
    padding:5px;
    border:1px solid black;
}
